---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AlignAfterOpenBracket: DontAlign
BreakBeforeBraces: Custom
BraceWrapping:
    AfterControlStatement: Never
BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
BreakBeforeTernaryOperators: false
BreakStringLiterals: false
BreakBeforeBinaryOperators: None