---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 0
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Custom
BraceWrapping:
    AfterControlStatement: Never
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
BreakBeforeTernaryOperators: false
BreakStringLiterals: false
BreakBeforeBinaryOperators: None